<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ATN shop</title>
    <style>
      *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Open Sans', sans-serif;
      }
      body{
        background-color: #6667AB;
        background-size: cover;
      }
      .form_login{
        display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
    flex-direction: column; 
    font-size: 200%;
      }
.submitBtn{
  margin-top: 50px;
}

button[type="submit"] {
  background: rgba(255, 255, 255, 0.2);
  border: 0;
  padding: 10px 20px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
button[type="submit"]:hover {
  background: rgba(255, 255, 255, 0.4);
}
    </style>
  </head>

  <body>
    <div class="form_login">
      <h2>Welcome to ATN Shop</h2>
      <form method="POST" action="">
        <button type="submit" class="submitBtn" value ="login">Login here</button>
      </form>
    </div>
  </body>
</html>